# Ignore data files
*.csv
*.rds
*.xls
*.csv.zip
*daily_count_data.txt
*visits_data.txt.zip
*daily_count_data.txt.zip
*site_data.txt
*species_data.txt
*visits_data.txt
*bnm_data.txt
*bnm_species(1).txt
*NMRS_species.txt
*bnm_species.txt
*NMRS_data.txt
*NMRS_species(1).txt
*NMRS_data(1).txt
*NMRS_species(2).txt


# Ignore word files
*.docx
*.rtf

# R prject file
*.Rproj
*.Rproj.user/

# Ignore .DS_Store files
*.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata
.Rproj.user
